@tailwind base;
@tailwind components;
@tailwind utilities;

/* Start Default Styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

/* End Default Styles */


@layer base{
  /*Default Styles*/
}

@layer components{
  .nav-bar {
    @apply flex-style-1 justify-between bg-amber-300/90 py-1.5 pl-5 pr-20;
  }

  .nav-bar ul {
    @apply flex-style-1 gap-x-10;
  }
  
  .nav-bar ul .nav-text{
    @apply text-2xl text-white;
  }

  .creator-pallet{
    @apply flex-style-1 text-2xl;
  }
  
  .creator-pallet img, .user-info img{
    @apply rounded-full w-10 h-10;
  }

  .creator-pallet span{
    @apply font-itim mx-2;
  } 

  .user-info{
    @apply flex-style-1;
  }
  
  .user-info label{
    @apply text-xl font-bold mx-2;
  }
  
  .user-info button{
    @apply cursor-auto;
  }

  .btn-bundle{
    @apply flex-style-2 gap-x-2;
  }

  @keyframes arrow-turn{
    from{rotate: 0deg}
    to{rotate: 180deg}
  }

  @keyframes arrow-return{
    from{rotate: 180deg}
    to{rotate: 0deg}
  }

  .nav-btn{
    @apply rounded-md border-none min-w-[111px] py-2 text-xl;
  }

  .user-info button img{
    @apply w-4 h-4 hover:opacity-50;
  }

  .animating-arrow{
    animation: arrow-turn 0.1s;
  }

  .arrow{
    animation: arrow-return 0.1s;
  }

  .neutral{
    rotate: 0deg;
  }

  .rotated{
    rotate: 180deg;
  }

  .sign-up{
    @apply bg-cyan-300 text-white hover:bg-cyan-400;
  }
 
  .log-in{
    @apply bg-neutral-100 hover:bg-neutral-200;
  }

  .real-nav{
    @apply flex-style-1 gap-x-8;
  }

  .drop-down{
    @apply absolute top-[3.25rem] min-w-[160px] right-[1.625rem] border-solid border-neutral-400 border-2 rounded-sm;
  }

  .drop-down-choice{
    @apply bg-neutral-100 hover:bg-neutral-200 p-2 border-solid border-neutral-300
  }
}

@layer utilities{

  .flex-style-1{
    @apply flex flex-row items-center;
  }
  
  .flex-style-2{
    @apply flex-style-1 justify-center;
  }
  /*UPCOMING CUSTOM STYLES*/
}



